<table class="bookmarkTable">
  <tr>
    <th>ID #</th>
    <th>Name</th>
    <th>Link</th>
    <th>Image</th>
    <th>Description</th>
    <th>Category</th>
    <th>Action</th>
  </tr>

  <% objdata.forEach(function (data) { %>
    <tr>
      <td><%= data.id %></td>
      <td><%= data.name %></td>
      <td><a href="<%= data.link %>"><%= data.link %></a></td>
      <td><img src="<%= data.image %>" height="100px" draggable="false"></td>
      <td style="min-width:20px; line-height:20px"><%= data.description %></td>
      <td><%= data.category %></td>
      <td style="min-width:180px">
        <a href="/edit?id=<%= data.id %>"><button class="btn-warning" method="post" type="button"><i class="fas fa-user-edit"></i> Edit</button></a>
        <a href="/remove?id=<%= data.id %>"><button class="btn-danger" method="post" type="button" onclick="confirmDeletion()" ><i class="fas fa-user-minus"></i> Delete</button></a>
      </td>
    </tr>
  <% }) %>
</table>
